/* GENERIC */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* NAVBAR */

nav {
  margin-top: 40px;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 2em;
  height: 75px;
  z-index: 10;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  transition: all 0.6s ease;
}
nav.sticky .logo {
  /* margin-left: 4rem; */
  height: 68%;
}
nav.sticky {
  margin-top: 0px;
  top: 0px;
  font-size: 0.75rem;
  padding-left: 2em;
  height: 75px;
  background: rgb(41, 39, 42);
}
nav.sticky ul li a {
  position: relative;
  padding: 15px 60px;
  font-size: 0.73rem;
  font-family: 'Lucida Sans Regular', sans-serif;
  color: rgb(191, 191, 191);
}

nav div {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 4rem;
  height: 68%;
  position: relative;
  /* transition: 0.6s; */
}

nav ul {
  margin-left: 1.5em;
  display: flex;
  position: relative;
}

nav ul li a {
  position: relative;
  padding: 15px 60px;
  font-size: 0.73rem;
  font-family: 'Lucida Sans Regular', sans-serif;
  color: rgb(191, 191, 191);
}

.checkbtn {
  color: white;
  font-size: 2.3rem;
  float: right;
  right: 25px;
  top: 25px;
  display: none;
  position: absolute;
  z-index: 11;
}

#check {
  display: none;
}

nav ul li a:hover {
  color: white;
}

/* STUDENT GRID */

.student-section {
  margin: 1em 0em;
  margin-top: calc(75px + 1em);
  text-align: center;
  font-size: 2rem;
}

.photo-grid {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0px 10%;
  justify-content: center;
}

.photo-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: calc((100% / 5) - 0px);
  /* height: 30%; */
  justify-content: space-around;
  /* margin: 10px 25px; */
}

.photo-card:hover {
  background: rgba(206, 206, 206, 0.452);
  border-radius: 20px;
}

.execom-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.execom-name {
  margin: 10px 0;
  font-size: 1.6rem;
}

.execom-pos {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2rem;
}

@media (max-width: 1380px) {
  .photo-card {
    width: calc(25% - 0px);
  }
}

@media (max-width: 1100px) {
  .photo-card {
    width: calc((100% / 3) - 0px);
  }
}

@media (max-width: 858px) {
  .logo {
    margin-left: 1em;
    margin-top: 6px;
    margin-bottom: 6px;
    z-index: 11;
  }

  nav div {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  nav div ul {
    background: darkslategray;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
    margin-right: 100%;
    position: absolute;
    /* left: -100%; */
    top: -450%;
    transition: all 0.5s;
    padding-top: 75px;
    padding-bottom: 10px;
    z-index: 10;
  }

  nav {
    margin-top: 0;
    padding-top: 5px;
    padding-left: 0;
  }

  nav.sticky {
    padding-left: 0;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    padding: 20px 25px;
  }

  nav.sticky ul li a {
    font-size: 1.1rem;
    padding: 20px 25px;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ div ul {
    top: 0;
  }

  /* STUDENT SECTION */
  .photo-card {
    width: calc(50% - 0px);
  }
}

@media (max-width: 610px) {
  .photo-grid {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .photo-card {
    width: calc(100% - 75px);
  }

  .execom-pic {
    width: 200px;
    height: 200px;
    transition: all 1s;
  }
}

@media (min-width: 2000px) {
  .photo-card {
    width: calc((100% / 6) - 50px);
  }
}
