/* HEADERS */
body {
  height: auto;
  background-image: url('assets/faqbg.png');
}

.faq-bg {
  background: url("assets/faq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-header {
  margin-top:75px; /* Height of Navbar */
  padding-top: 35px;
  margin-bottom: 50px;
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  text-align: center;
}

/* FAQ ACCORDION */
.faq-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-container {
  margin-top: 1.4em;
  width: 90%;
  max-width: 1200px;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(68, 68, 68);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #232931;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

.tab input {
  display: none;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* NAVBAR */
/* nav.sticky { */
/*   background: rgb(30, 28, 31); */
/* } */

nav {
    margin-top: 40px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 2em;
    height: 75px;
    z-index: 10;
    position: fixed;
    background: rgba(255, 255, 255, 0);
    transition: all 0.6s ease;
  }
  nav.sticky .logo {
    /* margin-left: 4rem; */
    height: 68%;
  }
  nav.sticky {
    margin-top: 0px;
    top: 0px;
    /* font-size: 0.75rem; */
    padding-left: 2em;
    height: 75px;
    background: rgb(30, 28, 31);
  }
  nav.sticky ul li a {
    position: relative;
    padding: 15px 60px;
    font-size: 0.95rem;
    font-family: "Lucida Sans Regular", sans-serif;
    color: rgb(191, 191, 191);
  }
  
  nav div {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: 4rem;
    height: 68%;
    position: relative;
    /* transition: 0.6s; */
  }
  
  nav ul {
    margin-left: 1.5em;
    display: flex;
    position: relative;
  }
  
  nav ul li a {
    position: relative;
    padding: 15px 60px;
    font-size: 0.95rem;
    font-family: "Lucida Sans Regular", sans-serif;
    color: rgb(191, 191, 191);
  }
  .mslider {
    display: none;
  }
  .checkbtn {
    color: white;
    font-size: 2.3rem;
    float: right;
    right: 25px;
    top: 19.1px;
    display: none;
    position: absolute;
    z-index: 11;
  }
  
  #check {
    display: none;
  }
  
  nav ul li a:hover {
    color: white;
  }

