@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{width: 100%}



body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: #222;
    color: white;
}

/****************/
.main-container{
    width: 90vw;
    margin: 0 auto;
    padding: 40px 0;
}
.main-container > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}
.main-container > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}
.category-head{
    margin: 30px 0;
}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:center;
    background: rgb(28, 146, 121);
    padding: 12px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 10px;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    padding: 0 10px;
}
.category-title span{
    color: #222;
}

/** single post **/
.posts-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.posts-main-container > div{
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.post-img{
    position: relative;
}
.category-name{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 2px;
}
.business .category-name{
    background: #00a7ea;
}
.culture .category-name{
    background: #f03250;
}
.politics .category-name{
    background: #f0544f;
}
.finance .category-name{
    background: #2c2a4a;
}
.sports .category-name{
    background: #a1e44d;
}


.post-content{
    padding: 25px;
}
.post-content-top{
    background: rgb(28, 146, 121);
    border-radius: 15px;
    color: #fff;
    opacity: 0.8;
    padding: 5px 0 5px 15px;
}
.post-content-top span{
    padding-right: 20px;
}
.post-content-top .fa-comment, .post-content-top .fa-calendar{
    padding-right: 5px;
}
.post-content h2{
    font-size: 22px;
    padding: 12px 0;
    font-weight: 400;
}
.post-content p{
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.8;
}
.read-btn{
    border: none;
    padding: 8px 15px;
    display: block;
    margin: 5px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: transparent;
    margin-bottom: 40px;
}

.read-btn:hover{
    background: #f6f6f6;
}



/***************/
@media(max-width: 1170px){
    .posts-main-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 768px){
    .posts-main-container{
        grid-template-columns: 1fr;
    }
}


/***********/

.active{
    background: #232931;
}
.all{
    background-color:#232931;
    border-radius: 10px;
}
.img
{
    border-radius: 15px;
}

nav {
    margin-top: 40px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 2em;
    height: 75px;
    z-index: 10;
    position: fixed;
    background: rgba(255, 255, 255, 0);
    transition: all 0.6s ease;
  }
  nav.sticky .logo {
    /* margin-left: 4rem; */
    width:110px;
  }
  nav.sticky {
    margin-top: 0px;
    top: 0px;
    /* font-size: 0.75rem; */
    padding-left: 2em;
    height: 75px;
    background: rgb(30, 28, 31);
  }
  nav.sticky ul li a {
    position: relative;
    padding: 15px 60px;
    font-size: 0.95rem;
    font-family: "Lucida Sans Regular", sans-serif;
    color: rgb(191, 191, 191);
  }
  
  nav div {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: 4rem;
    width:110px;
    position: relative;
    /* transition: 0.6s; */
  }
  
  nav ul {
    margin-left: 1.5em;
    display: flex;
    position: relative;
    list-style-type: none;
  }
  
  nav ul li a {
    position: relative;
    padding: 15px 60px;
    font-size: 0.95rem;
    font-family: "Lucida Sans Regular", sans-serif;
    color: rgb(191, 191, 191);
  }
  .mslider {
    display: none;
  }
  .checkbtn {
    color: white;
    font-size: 2.3rem;
    float: right;
    right: 25px;
    top: 19.1px;
    display: none;
    position: absolute;
    z-index: 11;
  }
  
  #check {
    display: none;
  }
  
  nav ul li a:hover {
    color: white;
  }
