* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("assets/la.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

nav {
  margin-top: 40px;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 2em;
  height: 75px;
  z-index: 10;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  transition: all 0.6s ease;
}
nav.sticky .logo {
  /* margin-left: 4rem; */
  height: 68%;
}
nav.sticky {
  margin-top: 0px;
  top: 0px;
  font-size: 0.75rem;
  padding-left: 2em;
  height: 75px;
  background: rgb(41, 39, 42);
}
nav.sticky ul li a {
  position: relative;
  padding: 15px 60px;
  font-size: 0.73rem;
  font-family: "Lucida Sans Regular", sans-serif;
  color: rgb(191, 191, 191);
}

nav div {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 4rem;
  height: 68%;
  position: relative;
  /* transition: 0.6s; */
}

nav ul {
  margin-left: 1.5em;
  display: flex;
  position: relative;
}

nav ul li a {
  position: relative;
  padding: 15px 60px;
  font-size: 0.73rem;
  font-family: "Lucida Sans Regular", sans-serif;
  color: rgb(191, 191, 191);
}

.checkbtn {
  color: white;
  font-size: 2.3rem;
  float: right;
  right: 25px;
  top: 25px;
  display: none;
  position: absolute;
  z-index: 11;
}

#check {
  display: none;
}

nav ul li a:hover {
  color: white;
}

section {
  width: 100%;
  height: 100vh;
  grid-auto-rows: auto;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 80px;
}

.slidercontainer {
  grid-area: 1/1/3/2;
  position: relative;
  left: 0%;
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.5s;
}

.mobdiv {
  height: 100%;
  width: calc(100% / 3);
}

.mobdiv img {
  width: 100%;
  height: 100%;
}

.pagination-container {
  grid-area: 2/1/3/2;
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;
}

.pagination-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  margin: 0px 20px;
}

.slider-arrow {
  color: white;
  font-size: 20px;
}

.active {
  height: 18px;
  width: 18px;
}

@media (max-width: 858px) {
  .logo {
    margin-left: 1em;
    margin-top: 6px;
    margin-bottom: 6px;
    z-index: 11;
  }

  nav div {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  nav div ul {
    background: darkslategray;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
    margin-right: 100%;
    position: absolute;
    /* left: -100%; */
    top: -450%;
    transition: all 0.5s;
    padding-top: 75px;
    padding-bottom: 10px;
    z-index: 10;
  }

  nav {
    padding-top: 5px;
    padding-left: 0;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    width: 100%;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    padding: 20px 25px;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ div ul {
    top: 0;
  }
}
